<!DOCTYPE html>
<html ng-app="gransk" ng-controller="MainCtrl">
  <head>
    <title ng-bind="title"></title>
    <script src="/static/lib/angular.min.js"></script>
    <script src="/static/lib/angular-route.js"></script>
    <script src="/static/lib/angular-cookies.js"></script>
    <script src="/static/lib/angular-storage.min.js"></script>

    <script src="/static/lib/dropzone.js"></script>
    <script src="/static/lib/d3.min.js"></script>
    <script src="/static/lib/d3pie.min.js"></script>
    <script src="/static/lib/ggraph.min.js"></script>
    <link href="/static/lib/ggraph.min.css" media="all" rel="stylesheet" />
    <script src="/static/lib/svg.min.js"></script>
    <script src="/static/modules/automagic.js"></script>
    <script src="/static/modules/gransk.js"></script>
    <script src="/static/modules/docs.js"></script>
    <script src="/static/modules/format.js"></script>
    <script src="/static/modules/entities.js"></script>
    <script src="/static/modules/stats.js"></script>
    <script src="/static/modules/misc.js"></script>
    <script src="/static/modules/quicklook.js"></script>
    <script src="/static/modules/latest.js"></script>

    <link href="/static/lib/font-awesome.min.css" media="all" rel="stylesheet" />
    <link href="/static/gransk.css" media="all" rel="stylesheet" />
    <link rel="shortcut icon" href="/static/gransk.ico">
  </head>
  <body>
    <div id="navigation-bar">
      <a href="/" class="logo"><img src="/static/gransk-dark.png" alt="gransk" /></a>
      <a href="#/statistics" ng-class="{'active':mode==='statistics'}">Statistics</a>
      <a href="#/documents" ng-class="{'active':mode==='documents'}">Documents (<span ng-bind="counts.documents"></span>)</a>
      <a href="#/entities" ng-class="{'active':mode==='entities'}">Entities (<span ng-bind="counts.entities"></span>)</a>
      <a href="#/latest" ng-class="{'active':mode==='latest'}">Latest</a>

      <form id="query" ng-submit="form_submit_query(query_string)">
        <a ng-show="query_string.length>0" href="" ng-click="query_string='';form_submit_query(query_string)"><i class="fa fa-times" aria-hidden="true"></i> Clear</a>
        <input type="text" placeholder="Query..." ng-class="{'active':query_string.length>0}" id="query_string" ng-model="query_string" />
        <input type="submit" value="Search" />
        <span id="query-error" ng-bind="query_error"></span>
        <span id="query-orange" ng-bind="query_warning"></span>
      <form>
    </div>

    <div class="clear"></div>

    <div id="content-container">
      <ng-view></ng-view>
    </div>

    <quicklook search="submit_query(query)" lock="lock"></quicklook>

    <div class="clear"></div>

    <dropzone></dropzone>

    <div id="bottom-right">
      <a href="" id="upload-files" ng-click=""><i class="fa fa-plus-square" aria-hidden="true"></i> Add files</a>
      &nbsp;&nbsp;
      <a href="" ng-click="clear_data()"><i class="fa fa-trash" aria-hidden="true"></i> Clear data</a>
    </div>
  </body>
</html>
